* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/cactus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

// Blurred cover
#container {
  width: 100%;
  height: 200vh;
  background-image: url("../img/blurred-cactus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

nav {
  width: 100%;
  height: 25vh;
  background-color: transparent;
  text-align: center;

  h2 {
    color: #000;
    position: relative;
    top: 100%;
    transform: translateY(-50%);
    font-size: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }
}

#info-lines {
  position: fixed;
  top: 200px;
  width: 100%;
  p {
    font-size: 40px;
    text-align: center;
    opacity: 0;
  }

  #line2 {
    position: relative;
    top: -50px;
  }
}

#blurred-section {
  position: relative;
  top: 10px;
  height: 100vh;

  img {
    height: 80%;
    margin: 20%;
  }
}

#circle-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 100px;
  opacity: 0;

  .cirlces {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
  }

  #circle1 {
    top: 300px;
    left: 300px;
    background-color: #70886e;
    border-radius: 50% 50% 50% 50% / 10% 30% 20% 20%;
  }

  #circle2 {
    left: 1400px;
    background-color: #132222;
    border-radius: 50% 50% 50% 50% / 45% 30% 50% 40%;
  }

  #circle3 {
    left: 1300px;
    top: 500px;
    background-color: #cdca9e;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }

  #ending-title {
    position: relative;
    top: 40%;
    text-align: center;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 50px;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.expander {
  position: relative;
  height: 300vh;
}

#expander2 {
  position: relative;
  height: 310vh;
}
