* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/cactus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

// Blurred cover
#container {
  width: 100%;
  height: 200vh;
  background-image: url("../img/blurred-cactus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

nav {
  width: 100%;
  height: 15vh;
  background-color: transparent;
  text-align: center;

  h2 {
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }
}

#info-lines {
  position: fixed;
  top: 200px;
  width: 100%;
  p {
    font-size: 40px;
    text-align: center;
    opacity: 0;
  }

  #line2 {
    position: relative;
    top: -50px;
  }
}

#blurred-section {
  position: relative;
  top: 10px;
  height: 100vh;

  img {
    height: 80%;
    margin: 20%;
  }
}

.expander {
  position: relative;
  height: 300vh;
}
